@page
@model IndexModel
@{
    ViewData["Title"] = "HTTP(s) Requester";
}

<div class="text-center">
    <h1 class="display-4">Here should be the https requester.</h1>
    <p>Http requester.</p>
</div>
