@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This should be an about the app page with stuff about what it does, develompent and usefull stuff like it can be accesed via browser from 127.0.0.1:8000</p>
</div>
